Repository xiaoxiongzi/banana-demo: changes, and which Drone steps are due for each by the changed paths.
All: frontend-deploy, backend-deploy

.drone.yml:

kind: pipeline
type: docker
name: frontend-deploy

trigger:
  branch:
    - main
  event:
    - push
  paths:
    include:
      - frontend/**/*
      - docker-compose.yml
      - nginx.conf

steps:
  - name: build-frontend
    image: node:18-alpine
    commands:
      - cd frontend
      - npm install
      - npm run build

  - name: transfer-frontend
    image: appleboy/drone-scp
    settings:
      host:
        from_secret: ssh_host
      username:
        from_secret: ssh_username
      key:
        from_secret: ssh_key
      target: /opt/banana-app/frontend
      source:
        - frontend/dist
        - frontend/Dockerfile
      strip_components: 1

  - name: transfer-compose
    image: appleboy/drone-scp
    settings:
      host:
        from_secret: ssh_host
      username:
        from_secret: ssh_username
      key:
        from_secret: ssh_key
      target: /opt/banana-app
      source:
        - docker-compose.yml
        - nginx.conf

  - name: deploy-frontend
    image: appleboy/drone-ssh
    settings:
      host:
        from_secret: ssh_host
      username:
        from_secret: ssh_username
      key:
        from_secret: ssh_key
      script:
        - cd /opt/banana-app
        - docker-compose up -d --build frontend

---
kind: pipeline
type: docker
name: backend-deploy

trigger:
  branch:
    - main
  event:
    - push
  paths:
    include:
      - backend/**/*
      - docker-compose.yml

steps:
  - name: transfer-backend
    image: appleboy/drone-scp
    settings:
      host:
        from_secret: ssh_host
      username:
        from_secret: ssh_username
      key:
        from_secret: ssh_key
      target: /opt/banana-app/backend
      source:
        - backend/**/*
      exclude:
        - backend/node_modules/**/*
        - backend/.git/**/*
        - backend/uploads/**/*
      strip_components: 1

  - name: transfer-compose
    image: appleboy/drone-scp
    settings:
      host:
        from_secret: ssh_host
      username:
        from_secret: ssh_username
      key:
        from_secret: ssh_key
      target: /opt/banana-app
      source:
        - docker-compose.yml

  - name: deploy-backend
    image: appleboy/drone-ssh
    environment:
      MYSQL_HOST:
        from_secret: mysql_host
      MYSQL_PORT:
        from_secret: mysql_port
      MYSQL_DATABASE:
        from_secret: mysql_database
      MYSQL_USERNAME:
        from_secret: mysql_username
      MYSQL_PASSWORD:
        from_secret: mysql_password
      TENCENT_SECRET_ID:
        from_secret: tencent_secret_id
      TENCENT_SECRET_KEY:
        from_secret: tencent_secret_key
      COS_BUCKET:
        from_secret: cos_bucket
      COS_REGION:
        from_secret: cos_region
      GOOGLE_GENAI_API_KEY:
        from_secret: google_genai_api_key
      JWT_SECRET:
        from_secret: jwt_secret
    settings:
      host:
        from_secret: ssh_host
      username:
        from_secret: ssh_username
      key:
        from_secret: ssh_key
      envs:
        - MYSQL_HOST
        - MYSQL_PORT
        - MYSQL_DATABASE
        - MYSQL_USERNAME
        - MYSQL_PASSWORD
        - TENCENT_SECRET_ID
        - TENCENT_SECRET_KEY
        - COS_BUCKET
        - COS_REGION
        - GOOGLE_GENAI_API_KEY
        - JWT_SECRET
      script:
        - cd /opt/banana-app
        - echo "MYSQL_HOST=$MYSQL_HOST" > .env
        - echo "MYSQL_PORT=$MYSQL_PORT" >> .env
        - echo "MYSQL_DATABASE=$MYSQL_DATABASE" >> .env
        - echo "MYSQL_USERNAME=$MYSQL_USERNAME" >> .env
        - echo "MYSQL_PASSWORD=$MYSQL_PASSWORD" >> .env
        - echo "TENCENT_SECRET_ID=$TENCENT_SECRET_ID" >> .env
        - echo "TENCENT_SECRET_KEY=$TENCENT_SECRET_KEY" >> .env
        - echo "COS_BUCKET=$COS_BUCKET" >> .env
        - echo "COS_REGION=$COS_REGION" >> .env
        - echo "GOOGLE_GENAI_API_KEY=$GOOGLE_GENAI_API_KEY" >> .env
        - echo "JWT_SECRET=$JWT_SECRET" >> .env
        - docker-compose up -d --build backend

ci(drone): 更新CI配置并添加默认检查流程
  .drone.yml
Due: none

ci(drone): 添加镜像拉取策略
  .drone.yml
Due: none

ci(drone): 添加前端构建缓存支持
  .drone.yml
Due: none

ci(drone): 更新前端部署命令
  .drone.yml
Due: none

ci(drone): 更新前端部署配置
  .drone.yml
  docker-compose.yml
Due: frontend-deploy, backend-deploy

ci(drone): 简化backend部署路径配置
  .drone.yml
Due: none

refactor: 移除OSS/COS存储，改用内存处理图片
  .drone.yml
  backend/ENV_CONFIG.md
  backend/MIGRATION_SUMMARY.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/config/cos.js
  backend/src/routes/generate.js
  backend/src/routes/upload.js
  backend/uploads/.gitkeep
  backend/yarn.lock
  frontend/src/api/upload.js
  frontend/src/components/ImageUploader.vue
  frontend/src/components/ResultDisplay.vue
  frontend/yarn.lock
  package.json
Due: frontend-deploy, backend-deploy

chore: 将项目从 npm 迁移到 yarn
  .drone.yml
  GETTING_STARTED.md
  PROJECT_SUMMARY.md
  README.md
  backend/Dockerfile
  backend/ENV_CONFIG.md
  backend/MIGRATION_SUMMARY.md
  backend/QUICK_START.md
  backend/README.md
  frontend/README.md
  package.json
  start-dev.sh
Due: frontend-deploy, backend-deploy

fix: 升级 backend Dockerfile 中的 Node.js 版本从 18 到 20
  backend/Dockerfile
Due: backend-deploy

feat: 为 Drone CI pipeline 添加 clone 重试和超时配置
  .drone.yml
Due: none

fix(generate): 添加调试日志查看API密钥
  backend/src/routes/generate.js
Due: backend-deploy

chore(docker): 添加代理配置和主机映射
  docker-compose.yml
Due: frontend-deploy, backend-deploy

ci(drone): 优化CI配置并添加部署依赖
  .drone.yml
Due: none

feat(backend): 添加 HTTP 代理支持并更新依赖
  backend/package.json
  backend/src/app.js
  backend/yarn.lock
Due: backend-deploy

chore(docker): 添加代理环境变量配置
  docker-compose.yml
Due: frontend-deploy, backend-deploy

refactor(generate): 重构图像生成接口代码结构
  backend/src/routes/generate.js
Due: backend-deploy

chore(docker): 移除不必要的代理配置和环境变量
  docker-compose.yml
Due: frontend-deploy, backend-deploy

feat: add google genai base url to drone.yml
  .drone.yml
Due: none

feat(logging): 添加完整的日志系统到后端服务
  backend/.gitignore
  backend/logs/.gitkeep
  backend/package.json
  backend/src/app.js
  backend/src/config/database.js
  backend/src/middleware/errorHandler.js
  backend/src/middleware/requestLogger.js
  backend/src/routes/auth.js
  backend/src/routes/credits.js
  backend/src/routes/generate.js
  backend/src/routes/history.js
  backend/src/routes/order.js
  backend/src/utils/logger.js
  backend/yarn.lock
  docker-compose.yml
Due: frontend-deploy, backend-deploy

style(frontend): update UI styling with banana color theme
  frontend/src/assets/styles/main.css
  frontend/src/components/AspectRatioSelector.vue
  frontend/src/components/Footer.vue
  frontend/src/components/GenerateButton.vue
  frontend/src/components/Header.vue
  frontend/src/components/ImageUploader.vue
  frontend/src/components/ModelSelector.vue
  frontend/src/components/ResultDisplay.vue
  frontend/src/store/modules/generation.js
  frontend/src/views/Home.vue
  frontend/tailwind.config.js
Due: frontend-deploy

refactor(ui): 优化组件样式和布局
  frontend/src/components/AspectRatioSelector.vue
  frontend/src/components/Header.vue
  frontend/src/components/ImageUploader.vue
  frontend/src/components/ModelSelector.vue
  frontend/src/components/ResultDisplay.vue
  frontend/src/views/Home.vue
  frontend/tailwind.config.js
Due: frontend-deploy

feat(auth): 新增登录弹窗功能与优化认证流程
  frontend/src/App.vue
  frontend/src/api/request.js
  frontend/src/components/AuthModal.vue
  frontend/src/components/Header.vue
  frontend/src/router/index.js
  frontend/src/store/modules/ui.js
Due: frontend-deploy

feat(generate): 添加生成图片的认证要求
  backend/src/routes/generate.js
  frontend/src/views/Home.vue
Due: frontend-deploy, backend-deploy
